3_actividad.dtd

<!ELEMENT receta (nombre, ingredientes, elaboracion)>
<!ATTLIST receta 
    raciones CDATA #REQUIRED
    dificultad (baja|media|alta) "media"
>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ATTLIST ingrediente 
    cantidad CDATA #IMPLIED
    unidad CDATA #IMPLIED
>
<!ELEMENT elaboracion (#PCDATA)>
